@using CTGroup.BO.Data

<div class="footer">
    <div class="pull-right">
        @{
        Html.RenderPartial("~/Views/Feedback/SendFeedback.cshtml", new Feedback());
        }
    </div>
    <div>
        <strong>Copyright</strong>&copy; C.T Group
    </div>
</div>
