
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    @ViewData["SubTitle"]


                </h1>
                @*<div class="m-t-lg">
                    <img src="~/Content/Image/logo.png" style="width: 25%; min-width: 240px" />
                </div>*@
                <h3>@ViewData["Message"]</h3>
            </div>
        </div>
    </div>
</div>

