@using MockProject.Common
@model MockProject.Models.SanphamSearchModel
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            <li class="active">
                <strong>Quản lý nhân viên</strong>
            </li>
        </ol>
        <a class="btn btn-primary m-t-sm" href=@Url.Action("Create", "SanPham")> Tạo mới</a>

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">

    <div class="ibox">
        <div class="ibox-title">
            <h5>Tìm kiếm</h5>
        </div>
        <div class="ibox-content">
            @using (Ajax.BeginForm("List", "SanPham", new AjaxOptions() { UpdateTargetId = "content" }))
            {
                <div class="row form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mã sản phẩm</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tên sản phẩm</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.TenSanpham, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Giá bán</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.Giaban, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Loại sản phẩm</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.LoaiSanphamID, null, "--- Tất cã ---", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" type="submit" id="submit">Tìm</button>
                        </div>
                    </div>
                </div>
            }

            <div id="content" class="loading">

            </div>
        </div>
    </div>
</div>
